<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PiliPili</title>
    <link rel="stylesheet" href="/stylesheets/mobile.min.css">
    <%-cnzz %>
</head>

<body>
    <div class="container">
        <div class="title">
            <img src="images/mobile-title.png" alt="pc-title">
        </div>

        <a class="copya" id="platform" data-clipboard-text=<%=copy_info %> href="https://down.gonggan.wang:1333/zb8pk" target="_blank">
            <img class="icon" src="images/android.png" alt="android">
            <span class="platform-des">Android</span>
        </a>

        <div class="contact-container">
            <div class="contact">
                <a href="https://eg.im/joinchat/b96714f9f83546bbb42755390d18878b" target="_blank">商務合作</a>
            </div>
            <div class="contact-group">
                <a href="https://eg.im/joinchat/b96714f9f83546bbb42755390d18878b" target="view_window">粉丝群</a>
            </div>
        </div>

        <div>
            <span class="q-title">首次安裝常見問題匯總</span>
        </div>

        <div class="qa-container">
            <textarea name="" id="" cols="300" rows="16" readonly=true>
Q: 使用PiliPili需要翻墻嗎?
A: 不需要

Q: 為什麼安卓手機無法進入APP？
A: 大陸手機會對成人類軟件進行網絡權限限製，華為手機無法進入APP可以嘗試以下步驟：
第一步 手機管家 - 病毒查殺 - 解除管控
第二步 設置 - 應用 - 應用管理 - 找到PiliPili - 流量使用情況 - 應用互聯網 打開漫遊數據和wlan的支持（或所有都打開其他品牌手機原理類似，但具體操作步驟會有不同，建議使用這類關鍵詞“小米應用無法連接網絡”去搜索解決方案

Q: 為什麼軟件會警告有病毒？
A: 大陸對於成人類軟件就是通過警告病毒來誤導用戶不敢安裝，我們的應用不會侵犯用戶的手機安全，請放心使用。

Q: 無法安裝，提示不包含證書？
A: 因為網絡不穩定(掉包)導致下載了一個殘缺的安裝包，重新下載安裝包即可，下載的時候不用開VPN。

Q: 安卓系統網絡權限都打開了還是無法連接？
A: 雙卡雙待的手機請設置固定dns，請搜索“手機如何設置固定dns
            </textarea>
        </div>
    </div>

    <script src="./javascripts/clipboard.min.js"></script>
    <script>
        new ClipboardJS('.copya');
    </script>
</body>

</html>