<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PiliPili</title>
    <link rel="stylesheet" href="/stylesheets/mobile.min.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <img src="images/mobile-title.png" alt="pc-title">
        </div>

        <button class="copya" id="platform" data-clipboard-text=<%=copy_info %>>
            <img class="icon" src="images/iOS.png" alt="iOS">
            <span class="platform-des">iOS</span>
        </button>

        <!-- <a class="copya" id="platform" data-clipboard-text=<%=copy_info %> href="https://tf.8klb0b6.cn/app/pilipili" target="_blank">
            <img class="icon" src="images/iOS.png" alt="iOS">
            <span class="platform-des">iOS</span>
        </a> -->

        <div class="contact-container">
            <div class="contact">
                <a href="https://www.baidu.com" target="_blank">商務合作</a>
            </div>
            <div class="contact-group">
                <a href="https://www.baidu.com" target="_blank">粉丝群</a>
            </div>
        </div>

        <div>
            <span class="q-title">首次安裝常見問題匯總</span>
        </div>

        <div class="qa-container">
            <textarea name="qa" id="qa" readonly=true>
Q. testfilght無法連接appstore，無法下載和更新軟件？
A. 可嘗試以下三種方式： 
一、使用VPN翻墻即可，選擇任意海外線路 
二、修改DNS為8.8.4.4(請在瀏覽器中搜索“如何修改手機的DNS”) 
三、在AppStore下載騰訊加速器並打開，搜索“steam國際服”點擊加速
                
Q. testfilght 要兌換碼？
A. 無需兌換碼，直接在官網點擊【下載官方版】自動跳轉tf ，安裝app。
                
Q. 打開app，是遊戲或者其他小應用？
A. 方法一（推薦）：復製文本【PiliPili】 到蘋果手機的剪貼板，然後打開app即可。 
   方法二： 國內用戶，關閉vpn，打開app即可。 國外用戶，打開VPN，連接非美國IP線路，打開app即可。
                
Q. 其他問題，需要幫助？
A. 下載聊天軟件:Telegram，加入官方群組 https://pilipili.ai，24h為您提供幫助。
            </textarea>
        </div>

        <div id="download-window-bg">
            <div id="download-window">
                <div id="download-window-header">
                    <span id="close-button">×</span>
                    <h2>请尝试不同路线下载</h2>
                </div>
                <div id="download-list">
                    <a class="download-line" href="https://testflight.qdryd.top/download?sn=pilipiliY" target="_blank">
                        <span>线路一</span>
                    </a>
                    <a class="download-line" href="https://tf.8klb0b6.cn/app/pilipili" target="_blank">
                        <span>线路二</span>
                    </a>
                    <!-- <a class="download-line" href="https://app.hngby.com.cn/s/fjakseahfguahf" target="_blank">
                        <span>线路三</span>
                    </a> -->
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/download.js"></script>
    <script src="./javascripts/clipboard.min.js"></script>
    <script>
        new ClipboardJS('.copya');
    </script>
</body>

</html>