<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PiliPili</title>
    <link rel="stylesheet" href="/stylesheets/notice.min.css">
</head>

<body>
    <div class="container">

        <img class="s-img" src="images/pp-logo.png" alt="pp-logo">

        <div class="title">
            <img src="images/mobile-title.png" alt="pc-title">
        </div>

        <div>
            <span class="q-title">Pilipili盛夏上线活动</span>
        </div>

        <div class="qa-container">
            <textarea name="qa" id="qa" readonly=true>
上线永久福利，别人有的你也要有
你是否在某站上有心仪的女孩，是否想知道光鲜靓丽众星捧月的她们私下又是什么模样？是否因囊中羞涩导致她们的好友位苦求不得？现在一切的一切都已不再是问题，因为我们上线啦，秉承着用户既是爹的原则，自上线起所有新用户即可获取三天免费会员，进入app后点击客服页面领取会员兑换码进入会员中心输入兑换码兑换即可

家是最温暖的地方，进群参与活动领取海量福利
关于送福利这件事我们是专业的，即日起用户只需通过“我的页面”点击“官方社群”即可加入批友大家庭一起开车一起开黑一起讨论深夜话题，更有进群福利及为期一个月每周七天不重样超值现金好礼相送分享活动
进群福利之你有根儿了：下载app后进入“我的”页面点击“官方社群”加入官方图都群，进群后绑定手机，联系群管理员发送绑定截图即可获得三天免费vip，土豆下载链接：potato.im

永久分享活动：每通过分享功能成功邀请一个新用户下载即可获得一天免费会员

每周一三五为分享活动，二四六为团建活动

周一活动：好东西要学会分享
将分享链接配图发送至任意国内社交平台，获取点赞及回复十个即视为完成任务，核实完成分享任务后即可领取16元分享红包，限量五十人，先到先得

周二活动：慈善大师pilipili
活动期间充值任意金额，将付款成功截图发送至群管理员即可活动充值金额一半返利，限量十人，先到先得

周三活动：缺的营养这块儿我来给你补
将分享链接配图发送至任意国内社交平台，获取点赞及回复十个即视为完成任务，核实任务完成后将会发送价值66元营养补充餐至用户支付宝，限量三十人，先到先得

周四活动：社区是我家，维护靠大家
活动期间内用户可在群内反馈bug及改进体验或提供资源视频，一经采用即可获得16元感谢红包，此奖励可重复获得，无人数限制，视频要求：40秒以上，画质清晰无水印国产

周五活动：pilipiili要带大家打上月球
将分享链接配图发送至任意群内截图发送给管理员，核实完成后即可获得16元分享红包，限量五十人，先到先得

周六活动：pilipili之巅
当天将组织群内开黑活动，游戏暂定为刀塔二，英雄联盟，王者荣耀，，决战平安京，根据参赛人数决定开黑游戏，用户自由组队，所有参赛人员均可获得十天会员奖励，最终胜利队伍每人可获得两百元红包

同时接取冠名，将游戏id加上pili前缀，每周可获得五百元红包
刀塔二：传奇及以上
英雄联盟：钻石五及以上
王者荣耀，荣耀王者及以上
平安京：大属及以上

周日活动：你是带明星
当天将在群内随机抽取发言发放永久vip，手快有手慢无，并会于群内活跃人员中随机选取三位发送288红包

本次活动最终解释群归pilipili官方所有，为保证活动奖励的公平，如有发现用户有作弊行为将取消用户获奖资格并封禁账号，获奖名额顺延至下一位用户，账号不易，且用且珍惜
            </textarea>
        </div>
</body>

</html>