<html>

<head>
  <title>PiliPili</title>
  <link rel="stylesheet" href="/stylesheets/style.min.css">
</head>

<body>

  <div class="contact-container">
    <div class="contact">
      <span>商务合作</span>
    </div>
    <div class="contact-group">
      <a href="https://www.baidu.com" target="view_window">粉丝群</a>
    </div>
  </div>

  <div class="title">
    <img src="images/pc-title.png" alt="pc-title">
  </div>

  <div class="subtitle">
    <span>年少不知白嫖爽，一直白嫖一直爽</span>
  </div>

  <div class="qrcode-container">
    <div class="img-container">
      <img class="qrcode" src="/qr<%=query_info %>" alt="qrcode">
    </div>
    <div class="platform-container">
      <div class="platform">
        <img class="icon" src="images/android.png" alt="android">
        <span class="platform-des">Android</span>
      </div>
      <div class="platform">
        <img class="icon" src="images/iOS.png" alt="iOS">
        <span class="platform-des">iOS</span>
      </div>
    </div>
  </div>

  <div class="copyright">
    <p>掃描二維碼後，因第三方鏈接可能會被導致屏蔽。請勿使用微信或者QQ等第三方內置瀏覽器打開。推薦使用手機自帶瀏覽器或UC瀏覽器打開</p>
  </div>
</body>

</html>