body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background: url(../images/pay_bg.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

a {
    text-decoration: none;
    color: rgb(255, 72, 53);
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
}

.container {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.aBt {
    height: 42px;
    width: 130px;
    background-color: blue;
    border-radius: 21px;
    color: white;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

a.aBt {
    margin-top: 10px;
}

#order {
    position: absolute;
    right: 20px;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#order_id {
    text-align: center;
    color: white;
    font-size: 20px;
    /* margin-bottom: 20px; */
}

.pay_notice{
    color: white;
}

span#pay-now {
    display: table-cell;
    animation: san 1.5s linear infinite;
}

@keyframes san {
    0%, 100% {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 5px rgb(1, 231, 247), 0 0 15px rgb(1, 231, 247), 0 0 25px rgb(1, 231, 247), 0 0 50px rgb(1, 231, 247), 0 0 80px rgb(1, 231, 247), 0 0 120px rgb(1, 231, 247), 0 0 160px rgb(1, 231, 247), 0 0 200px rgb(1, 231, 247), 0 0 300px rgb(1, 231, 247), 0 0 400px rgb(1, 231, 247), 0 0 500px rgb(1, 231, 247);
    }
    20%, 80% {
        color: transparent;
        text-shadow: none;
    }
}

span#pay-now:nth-child(1) {
    animation-delay: 0s;
}

span#pay-now:nth-child(2) {
    animation-delay: 0.1s;
}

span#pay-now:nth-child(3) {
    animation-delay: 0.2s;
}

span#pay-now:nth-child(4) {
    animation-delay: 0.3s;
}

span#pay-now:nth-child(5) {
    animation-delay: 0.4s;
}

span#pay-now:nth-child(6) {
    animation-delay: 0.5s;
}

span#pay-now:nth-child(7) {
    animation-delay: 0.6s;
}

span#pay-now:nth-child(8) {
    animation-delay: 0.7s;
}

span#pay-now:nth-child(9) {
    animation-delay: 0.8s;
}

span#pay-now:nth-child(10) {
    animation-delay: 0.9s;
}